/*Style for CSS demo*/
html{  box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
  }
/*--------- Utility Classes ---------*/

.container{
  padding:40px;
}

  body{
    background-color:#8C503A ;
    font-family: "Playfair Display", serif;

  }

  main{
    background-color:#D9CCC1 ;
    width:80vw;

    /* long form */
    margin:40px;
    margin-top:40px;
    margin-right:auto;
    margin-bottom:40px;
    margin-left:auto;

    /* Top / Rihgt / Bottom / Left  */
    margin: 40px auto 40px auto;

    /* Top/Bottom | Left/Right */
    margin: 40px auto;

    border:2px solid #024059;

    border-radius:4px;
    
    header.primary {
        background-color:#024059;
        padding:20px;
        background-image: url("https://assets.codepen.io/7248/bg_1.png");
        background-repeat:no-repeat;
        background-size:cover;
        display:flex;
        border-bottom: 3px solid #0ABFBF;

    }

    header.primary h1 a{
      color:aliceblue;
      text-decoration:none;
      font-size:2.5rem;
      text-shadow:2px 2px #000;
    }

    header.primary h2{
      color:aliceblue;

    }
    
    header.primary nav ul{
      list-style-type:none;
      margin:0;
    }

    header.primary nav ul li{
      margin-bottom:10px;
    }

    header.primary nav ul li a{
      border: 1px solid #024059;
      border-right:10px solid#BF6415;
      border-radius:20px 0;
      color:white;
      display:block;
      background-color:rgba(0,0,0,.6);
      padding:5px 5px 5px 0;

    }

    header.primary nav a:hover{
      background-color:rgba(0,0,0, .9);
      text-decoration:underline;
    }

    #content h2, #content h3, article.widget h2{
      color:#BF6415;
      border-left: 7.5px solid #024059;
      padding:7.5px;
      border-radius:15px 0;
    }
    #blog{
      background-color:#023E73;
      padding:20px 0;
      border-top:6px double #BF6415; 
      border-bottom:6px double #BF6415; 
    }
    
    #blog > h2{
      color:#ffffff;
      text-shadow: 2px 2px  #000;
      font-size:2.2rem;
      margin-left:20px;
    }
    
    #blog article.post{
      background-color:#D9CCC1;
      margin:20px;padding:20px;
      display:grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows:auto;
      grid-template-areas:
        "figure header"
        "figure post-content"
        "figure footer"
    }
    
    #blog article figure{
      grid-area:figure;
      margin:0 20px 0 0;
    }
    #blog article header{
      grid-area:header;
    }
    #blog article .post-content{
      grid-area:post-content;
    }
    #blog article .post-meta{
      grid-area:footer;
    }
    
    aside .container{
      display:grid;
      grid-template-columns: 1fr 1fr;
      gap:40px;
    }
    
    #colophon{
      text-align:center;
        background-image: url("https://assets.codepen.io/7248/bg_1.png");
      background-repeat:no-repeat;
      background-size:cover;
      color:#D9CCC1;
      padding:20px;
    }

  }