/*  --------------- Utility Classes -----------------  */
.container {
  max-width: 2000px;
  width: 80vw;
  margin: 40px auto;
}
.logo {
  place-items: left;
  width: 100px;
  height: 100px;
}
main{
  background-color: #000000;
  padding: 20px;
  margin-top: 20px;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
}

header.primary{
  font-size: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  background-color: #000000;
}

header.primary nav {
  display: flex;
  justify-content: center;
}

header.primary nav ul {
 display: flex;
 justify-content: flex-end;
 list-style: none;
 margin: 0;
 padding: 0;
}

header.primary nav ul li {
  margin-left: 20px;
}

header.primary nav ul li a{
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: 0.5s;
}

header.primary nav ul li a:hover{
  background-color: #ffffff;
  color: #000000;
}

header.primary img {
  width: 100px;
  height: 100px;
  align-items: left;

}

hgroup {
  
  background-position: center; 
  height: 500px; 
}
  
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-color: black;
}

/*  --------------- Responsive Images -----------------  */
img {
  max-width: 100%;
}

