/*  --------------- Utility Classes -----------------  */
.container {
  max-width: 2000px;
  width: 90vw;
  margin: 40px auto;
}

.text {
  width: 90%; /* Increase the width */
  padding: 20px;
}
  /*  --------------- Global Styles -------------------  */



body {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-size: 25px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background-color: black;
}

main{
  background-color: #000000;
  line-height: 3;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  zoom: 70%;
}

header.primary{
  font-size: 25px;
  position: fixed;
  top:0; 
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  background-color: rgba(0, 0, 0, .9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.hidden {
  transform: translateY(-100%); 
}


header.primary h1{
  font-size: 25px;
  color: white;
  margin: 0;
  padding-left: 50px;
}

header.primary nav {
  display: flex;
  justify-content: center;
}

header.primary nav ul {
 display: flex;
 justify-content: flex-end;
 list-style: none;
 margin: 0;
 padding: 0;
}

header.primary nav ul li {
  margin-left: 20px;
}

header.primary nav ul li a{
  color: white;
  text-decoration: none;
  padding: 20px;
  transition: 0.5s;
}

header.primary nav ul li a:hover{
  background-color: #ffffff;
  color: #000000;
}

header.primary img {
  width: 100px;
  height: 100px;
  align-items: left;

}







#colophon {
  position: relative; /* Set the parent container to relative positioning */
  background-color: #590202;
  font-size: 18px;
  text-align: left;
  padding: 20px;
  color: #ffffff;
  height: auto;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

#socials{
  position: absolute;
  top: 20px;
  right: 20px;
  padding-right: 20px;
  align-items: flex-end;
  text-align: right;
}

#socials .starlogo {
  position: absolute;
  top: 280px;
  right: 0px;
  width: 60px;
  height: 60px;
}

#socials h5{
  font-size: 20px;
}
/*  --------------- Weather -----------------  */


.weather{
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#forecast-table {
  grid-column: 1 / 2;
}

#forecast-table th {
  color: #ffffff;
  padding: 10px;
}

#forecast-chart {
  width: 100%;
  max-width: 600px;
  max-height: 300px;

}


/*  --------------- Responsive Images -----------------  */
img {
  max-width: 100%;
}

hgroup {
  
  background-position: center; 
  height: 400px; 
}

.logo {
  width: 100px;
  height: 100px;
  position: relative;
  border-right: 1px solid #ffffff;
  line-height: 50%;
}


.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile {
  width: 30%; 
  height: auto;
  padding: 30px;
  object-fit: cover;
}

.mbody {
  width: 50%; 
  height: auto;
  padding: 30px;
}

.text {
  width: 50%; 
  padding: 20px;
}

.flex-container:first-of-type .profile {
  order: 2;
}

.flex-container:nth-of-type(3) .mbody {
  order: 2;
}

#gun{
  display: flex;
  justify-content: center;
  align-items: center;
  }

#gun .fade.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-wrap: wrap; /* Allow wrapping if needed */
}

#gun img {
  max-width: 100%;
}